.Credits {
  font-size: 12px;
  text-align: right;
  font-weight: 100;
  color: rgba(255, 255, 255, .8);
  line-height: 26px;
}

.Credits svg {
  float: right;
  width: 96px;
  height: 16px;
  opacity: .8;
  margin: 4px 16px 4px 6px;
}
